<% if flash[:edit] %>
  <%= flash[:edit] %><br>
  <%end %>
<% if flash[:delete] %>
  <%= flash[:delete] %><br>
  <%end %>
<%=@game.title%>, <%=@game.year%>
<br></br>
<a href="/games/<%=@game.id%>/edit"><input type="submit" value="Edit Game"> </a>

<form action="/games/<%=@game.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Game">
</form>

<br></br>
<a href="/games"><input type="submit" value="My Games"></a>
